@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-custom-page-bg;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gray-300{
	background-color: #F3F3F3;
}
.text-span{
	color: #939494;
}
.text-header{
	color: #939494;
}

.text-green-600{
	color: #49A569;
}
.border-green-600	{
	color: #49A569;
}


